.env

langchain website text

https://github.com/LangChain-OpenTutorial/LangChain-OpenTutorial/tree/main

prompt : https://python.langchain.com/api_reference/core/prompts.html

api langchain 

https://api.python.langchain.com/en/v0.1/langchain_api_reference.html

partner 